.apps-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#search-logout {
  display: flex;
  flex-direction: row;
}

#apps-header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#apps-header-box input[type="text"] {
  margin-right: 2.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.apps-list {
  overflow-y: auto;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.grid-view {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vh;
  width: 95%; 
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  text-align: center;
  background-color: #f9f9f9;
  padding: .5%;
  margin-bottom: 2vh;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

tr:hover {
  background-color: #f1f1f1;
}

.active {
  color: green;
}

.inactive {
  color: red;
}

.crud-button, #logout-button {
  width: 98%;
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  background-color: #1e1e2f;
  color: white;
  cursor: pointer;
}

.crud-button:hover, #logout-button:hover {
  background-color: #2c2c46;
}

#grid-view-button, #detail-view-button, .open-button {
  width: 3vh; /* Breite des Bildes */
  height: 3vh; /* Höhe des Bildes */
  background-size: cover;
  cursor: pointer;
  border: none;
  background-color: #f1f1f1;
}

.open-button {
  padding: 1%;
  background-color: #f9f9f9;
  background-image: url(../assets/expand.png);
  background-size: cover;
}

.open-button-box {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 100%;
}

.application-image {
  text-align: center;
  min-width: 50%;
  max-width: 100%;
  min-height: 50%;
  max-height: 100%;
  height: 20vh;
  background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat; 
}

#grid-view-button {
  background-image: url(../assets/kachel.png);
  margin-right: 1vw;
}

#detail-view-button {
  background-image: url(../assets/detail.png);
}

#create-button {
  margin-top: 1%;
  min-width: 10%;
  width: auto;
}

.link {
  width: 100%;
  height: 100%;
}

.crud-buttons {
  min-width: 13%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.name {
  font-size: large;
  font-weight: bold;
}

.resizable-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: col-resize;
  user-select: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  width: 100px; /* Initiale Breite der Spalten, wenn gewünscht */
}

@media screen and (max-width: 1500px) {
  .grid-view {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
}

@media screen and (max-width: 1000px) {
  .grid-view {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 600px) {
  .grid-view {
    display: grid;
    grid-template-columns: 100%;
  }
}