h2 {
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

select {
  padding: 5px;
  font-size: 14px;
}

#search-logout {
  display: flex;
  flex-direction: row;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#logout-button, #keycloak-button {
  width: 100%;
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  background-color: #1e1e2f;
  color: white;
  cursor: pointer;
}

#keycloak-button {
  width: 10vw !important;
  margin-top: 1vh;
}

#logout-button:hover, #keycloak-button:hover {
  background-color: #2c2c46;
}

.settings-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}